html {
  margin: 0;
}
body {
  background-color: #2C3531;
}

#mainHead {
  display: flex;
  justify-content: center;
}


.container {
  padding-top: 200px;
}


.img-dsc {
  text-align: center;
  color: #FFCB9A;
  font-size: 1.3em;
  font-family: sans-serif;
}


.blue, .purple, .red {
  width: 100%;
  height: auto;
  border: 2px solid #FFCB9A;
}


.blue {
  background-image: url("https://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_03_hd_picture_169784.jpg");
}

.purple {
  background-image: url("https://i.ytimg.com/vi/SLtM4OObCp4/maxresdefault.jpg");
}

.red {
  background-image: url("https://image.freepik.com/free-vector/red-background-with-diamond-effect_23-2147618257.jpg");
}


div .blue:hover, .purple:hover, .red:hover {
  transform: scale(1.1);
}





/*
#2C3531 == Charcoal Grey
#116466 == Ocean Blue
#D9B08C == Light brown/grey
#FFCB9A == Peach
#D1E8E2 == Baby Blue
*/
